<main>
    <section class="navbar">
      <!-- Logo -->
      <img src="assets/svg/mainLogo.svg" alt="Invecta logo" class="navbar-logo">
  
      <!-- Versão -->
      <div class="version">
        <button class="versionBtn">v0.1</button>
        <div class="version-log">
          <a href="#">versão</a>
        </div>
      </div>
  
      <!-- Ícones -->
      <div class="functions">
        <img src="../../../assets/svg/search.svg" alt="">
        <img src="../../../assets/svg/config.svg" alt="">
        <img src="../../../assets/svg/layer.svg" alt="">
        <img src="../../../assets/svg/more.svg" alt="" class="more">
        <img src="../../../assets/svg/colorMode.svg" alt="" class="color-mode">
      </div>
    </section>
  
    <!-- Conteúdo principal -->
    <section class="main">
      <ng-content></ng-content>
    </section>
  </main>
  